
<h1>A buscar Pokemons</h1>

<div class="row">
  <div class="card p-2">
<h1 *ngIf="cargando==true">Cargando...</h1>

<div class="col-md-12">
<table class="table table-bordered border-primary">
    <thead>
      <tr>
                
          <th scope="col">
            <div class="container-fluid">Nombre <input #txtBuscarNombre
              type="text"
              (keyup.enter)="buscarNombre( txtBuscarNombre.value )"
              aria-label="First name" 
              class="form-control me-2" 
              placeholder="Buscar pokemon-nombre" />      
            </div>    
          </th>
        <th scope="col">Tipo</th>
        <th scope="col">Habilidad</th>
      </tr>
    </thead>
    <tbody>

    <!--  <tr>  -->

        <!--  <td>          -->
            <!-- <input #txtBuscarNombre 
                type="text"
                (keyup)="buscarNombre( txtBuscarNombre.value )"
                aria-label="First name" 
                class="form-control me-2" 
                placeholder="Buscar pokemon-nombre" /> -->
                
                <!-- Busca hasta que clico 'enter': -->
            <!-- <input #txtBuscarNombre
                type="text"
                (keyup.enter)="buscarNombre( txtBuscarNombre.value )"
                aria-label="First name" 
                class="form-control me-2" 
                placeholder="Buscar pokemon-nombre" />         -->
        
        <!--  </td>   -->


    <!-- </tr>  -->
      <!--  Original:
        <tr *ngFor="let pokemon of pokemons; let indice=index">

        <td > <a [routerLink]="['/pokemon', pokemon.name]"> {{indice +1}}: {{pokemon.name}} </a> </td>


        <td> <p *ngFor="let tipo of pokemon.tipo"> {{tipo.type.name}} </p></td>

        <td> <p *ngFor="let habilidad of pokemon.habilidad"> {{habilidad.ability.name}} </p></td>
      </tr> -->

      <!--  --------------------------------------- Inicio Edito:  -------------------->
      
      

        <tr *ngFor="let pokemon of pokemons
        | paginate: { itemsPerPage: 50, currentPage: page }" >

          <td  *ngIf="!txtBuscarNombre.value"> <a [routerLink]="['/pokemon', pokemon.name]"> {{pokemon.name}} </a> </td>

          <!--  <td *ngIf="!txtBuscarNombre.value"> <p *ngFor="let tipo of pokemon.tipo"> {{tipo.type.name}} </p></td> -->
          <td *ngIf="!txtBuscarNombre.value"> <a [routerLink]="['/pokemon', pokemon.name]"> <p *ngFor="let tipo of pokemon.tipo"> {{tipo.type.name}} </p> </a> </td>

          <!-- <td *ngIf="!txtBuscarNombre.value"> <p *ngFor="let habilidad of pokemon.habilidad"> {{habilidad.ability.name}} </p></td> -->
          <td *ngIf="!txtBuscarNombre.value"> <a [routerLink]="['/pokemon', pokemon.name]"> <p *ngFor="let habilidad of pokemon.habilidad"> {{habilidad.ability.name}} </p> </a> </td>
        </tr>  

        <!--  ----------- Inicio Editando -->
        <tr>
          <td  *ngIf="txtBuscarNombre.value"> <a [routerLink]="['/pokemon', nombre?.name]"> {{nombre?.name}} </a> </td>
          <!-- <td  *ngIf="txtBuscarNombre.value"> {{nombre?.name}} </td> -->          

          <!-- Primer tipo dePokemon buscado: <td  *ngIf="txtBuscarNombre.value"> {{nombre?.types[0].type.name}} </td>  
            todos los tipos de pokemon buscado: -->
          <td  *ngIf="txtBuscarNombre.value"> <a [routerLink]="['/pokemon', nombre?.name]"> <p *ngFor="let tipe of nombre?.types"> {{tipe.type.name}} </p> </a> </td>

          <!-- Primera habilidad dePokemon buscado:  <td  *ngIf="txtBuscarNombre.value"> <p> {{nombre?.abilities[0].ability.name}} </p> </td>             
          todas las habilidades de pokemon buscado: -->
          <td  *ngIf="txtBuscarNombre.value"> <a [routerLink]="['/pokemon', nombre?.name]"> <p *ngFor="let habiliti of nombre?.abilities"> {{habiliti.ability.name}} </p> </a> </td>
      </tr>

          <!--  <td *ngIf="txtBuscarNombre.value"> <p *ngFor="let types of nombre.types"> {{types.type.name}} </p></td>-->

          <!--  <td *ngIf="txtBuscarNombre.value"> <p *ngFor="let abilities of nombre.abilities"> {{abilities.ability.name}} </p></td>  -->
        <!--  ----------- Fin Editando -->

      
              
    

      <!--  --------------------------------------- Fin Edito:  -------------------->


      </tbody>
    </table>

<!--  --------------------------------------- Inicio Edito:  -------------------->

<div *ngIf="txtBuscarNombre.value.length === 0">
  <pagination-controls
(pageChange)="page = $event"
previousLabel="Anterior"
nextLabel="Siguiente">
</pagination-controls>
</div>

<!--  --------------------------------------- Fin Edito:  -------------------->

</div>
</div>
</div>


<!--  Corté desde lín 68 hasta 65: -->

<!--  </td>

<td>  --><!--  <input type="text" aria-label="First name" class="form-control" placeholder="Buscar pokemon-tipo"> </td>  -->

<!--  <input #txtBuscarNombre
type="text"
(keyup.enter)="buscarNombre( txtBuscarNombre.value )"
aria-label="First type" 
class="form-control me-2" 
placeholder="Buscar pokemon" />

</td>
<td>  -->
    <!--SSSólo keyup y no keyup.enter para mandar en tiempo real-->
    <!-- <input #txtBuscarHabilidad 
    (keyup.enter)="buscarHabilidad( txtBuscarHabilidad.value )"
    class="form-control me-2" 
    type="search" 
    placeholder="Buscar pokemon-habilidad" 
    aria-label="Search"> -->
    <!--  <input #txtBuscarNombre
        type="text"
        (keyup.enter)="buscarNombre( txtBuscarNombre.value )"
        aria-label="First name" 
        class="form-control me-2" 
        placeholder="Buscar pokemon-nombre" />
    <button (click)="buscarNombre( txtBuscarNombre.value )"
    class="btn btn-outline-success" type="submit">Buscar</button> -->
